@model ReservationSystem.Utils.WeekDaysView

<div class="modal-body">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Nastavení: @Model.Name</h4>
            </div>
            @using (Html.BeginForm("EditWeekDay", "Admin", null, FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <p>
                            @Html.Label("Začátek")
                            @Html.DropDownList("startTime", new SelectList(Model.Times.Select(time => time.StartTime)), "", new { @class = "form-control" })
                            @Html.Label("Konec")
                            @Html.DropDownList("endTime", new SelectList(Model.Times.Select(time => time.StartTime)), "", new { @class = "form-control" })
                            <label>
                                @Html.CheckBox("cancelledDay", Model.IsCancelled) Zrušit hraní v tento den
                            </label>

                        </p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                    <button type="submit" class="btn btn-primary">Uložit</button>
                </div>
            }
        </div>
    </div>
</div>




<script type="text/javascript">
    $(function () {
        $("#approve-btn").click(function () {
            alert("hovno");
        });

        $("#approve-btn").click(function () {
            $("#modal-container").modal("hide");
        });

        $("#close-btn").click(function () {
            $("#modal-container").modal("hide");
        });

        $("#cross-close-btn").click(function () {
            $("#modal-container").modal("hide");
        });

    });
</script>