@using ReservationSystem.Models
@model ReservationSystem.Reservation.ReservationView

@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports</h2>
<div class="panel-body">
    @using (Html.BeginForm("Reports", "Admin", new { @id = "reportForm" }))
    {
        <p align="center">
            @Html.TextBox("sdate", "", new {@id = "reportDatePicker", @class = "form-control input-lg", @style = "text-align:center; font-weight:bold; font-size:30px"}) 
            <button id="printBtn" type="button" class="btn btn-primary btn-lg" onclick="printContent()">TISK</button>
        </p>
    }
</div>



<div id="printable">
    <table class="table table-striped table-hover " table width="100">
        <thead>
        <tr>
            <th>Čas</th>
            @foreach (var table in Model.Tables as List<TableModel>)
            {
                <th>Stůl @table.Number</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var time in Model.Times as List<TimeModel>)
        {

            <tr>
                <td>
                    @{
                        var t = time.StartTime.Hours.ToString() + ":" + (time.StartTime.Minutes != 0 ? time.StartTime.Minutes.ToString() : "00");
                    }
                    @t
                </td>
                @foreach (var table in Model.Tables as List<TableModel>)
                {
                    var user = Model.Day.UserFromReservation(time, table);
                    if (user == null)
                    {
                        <td>
                            <button class="btn btn-success">VOLNO</button>
                        </td>
                    }
                    else
                    {
                        <td>
                            <button class="btn btn-danger">@Model.Users[user].UserName</button>
                        </td>
                    }
                }
            </tr>
        }
        </tbody>
    </table>
</div>


@section scripts
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#reportDatePicker").datepicker(
                {
                    beforeShowDay: $.datepicker.noWeekends,
                    //altFormat: "DD d.mm",
                    //altField: "#mydatepicker",
                    dateFormat: "dd.mm.yy",
                    dayNamesShort: ["Ne, Po, Út, St, Čt, Pá, So"],
                    dayNames: ["Neděle", "Pondělí", "Úterý", "Středa", "Čtvrtek", "Pátek", "Sobota"],
                    monthNames: ["Leden", "Únor", "Březen", "Duben", "Květen", "Červen", "Červenec", "Srpen", "Září", "Říjen", "Listopad", "Prosinec"],
                    firstDay: 1,
                    minDate: 0,
                    onSelect: function(dateText, inst) {
                        $(this).parents("form").submit();
                    }
                }
            );

            var date = @Model.Date.Day.ToString() + "." + @Model.Date.Month.ToString() + "." + @Model.Date.Year.ToString();
            $("#reportDatePicker").datepicker("setDate", date);

            $("#printBtn").bind("click", function() {  
                var restorepage = document.body.innerHTML;
                var printcontent = document.getElementById("printable").innerHTML;
                document.body.innerHTML = printcontent;
                window.print();
                document.body.innerHTML = restorepage; 
            });
        });
    </script>
}
    

