@using ReservationSystem.Utils
@model ReservationSystem.Reservation.ReservationView

@if (!Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>REZERVAČNÍ SYSTÉM</h1>
        <h2> AC SPARTA PRAHA stolní tenis</h2>
        <p class="lead">Pro rezervaci je nutné se přihlásit</p>
        <p>
            @Html.ActionLink("Přihlásit se", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" })
            @Html.ActionLink("Registrovat se", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary btn-lg" })

        </p>
     </div>
}
else
{
    if (Model.ReturnCode == ReturnCode.ERROR)
    {
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>SOMETHING WENT TERRIBLY WRONG.='(</strong> <a href="#" class="alert-link">PROBABLY YOUR FAULT ;-)</a> @Model.ErrorMessage
        </div>
    }

    if (Model.ReturnCode == ReturnCode.RELOAD_PAGE_TABLE_ALREADY_PICKED)
    {
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Warning!</h4>
            <p> Vybraný stůl, je již bohužel rezervován.</p>
        </div>
    }

    if (Model.ReturnCode == ReturnCode.RESERVATION_SUCCESS)
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Rezervováno</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
        </div>
    }

    <div class="panel panel-default">
            <div class="panel-body">
                @using (Html.BeginForm("DateChange", "Home", new { @id = "mydatepickerform" }))
                {
                    <p align="center">
                       <h3>Datum:</h3>
                    </p>
                    <p align="center">
                        @Html.TextBox("date", Model.Date.ToString("dd/MM"), new { @id = "mydatepicker" })
                    </p>
                }
            </div>
        

        <p align="center">
            @Html.ActionLink("Ulozit", "Save", "Reservation", routeValues: new {sdate = @Model.Date}, htmlAttributes: new {@id = "saveBtn", @class = "btn btn-primary btn-lg btn-block" })
        </p>

    </div>

         @Html.Partial("_ReservationTable", Model)
}


@section scripts
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#mydatepicker").datepicker(
                {
                    beforeShowDay: $.datepicker.noWeekends,
                    altFormat: "DD d.mm",
                    altField: "#mydatepicker",
                    dateFormat: "dd/mm/yyyy",
                    dayNames: ["Neděle", "Pondělí", "Úterý", "Středa", "Čtvrtek", "Pátek", "Sobota"],
                    monthNames: ["Leden", "Únor", "Březen", "Duben", "Květen", "Červen", "Červenec", "Srpen", "Září", "Říjen", "Listopad", "Prosinec"],
                    firstDay: 1,
                    minDate: 0,
                    onSelect: function (dateText, inst) {
                        $(this).parents("form").submit();
                    }
                }
            );

            var disable
            if (@Model.IsPicked.ToString().ToLower() == true)
                disable = false;
            else
                disable = true;

            $("#saveBtn").attr("disabled", disable);
        });
    </script>
}



