@using ReservationSystem.Models

@{
    ViewBag.Title = "Home Page";
}

@if (!Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>REZERVAČNÍ SYSTÉM</h1>
        <h2> AC SPARTA PRAHA stolní tenis</h2>
        <p class="lead">Pro rezervaci je nutné se přihlásit</p>
        <p>
            @Html.ActionLink("Přihlásit se", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" })
            @Html.ActionLink("Registrovat se", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary btn-lg" })

        </p>
     </div>
}
else
{
    if (!ViewBag.Message.Equals("OK"))
    {
        <p class="lead">SOMETHING WENT TERRIBLY WRONG.='( PROBABLY YOUR FAULT ;-) </p>
        <p> @ViewBag.Message </p>
    }


    <div class="jumbotron">

        @{ var selDate = ViewBag.Date; }
        <p align="left">Datum: <input id="mydatepicker"/> </p>
        
        <p align="right">
            @Html.ActionLink("Ulozit", "Save", "ReservationController", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary btn-lg" })
        </p>
    </div>

        <div class="datagrid">
            <table table width='100%'>
                <thead>
                    <tr>
                        <th>Čas</th>
                        @foreach (var table in ViewBag.Tables as List<TableModel>)
                        {
                            <th>Stůl @table.Number</th>
                        }
                    </tr>
                </thead>
                <tbody>
                        @foreach (var time in ViewBag.Times as List<TimeModel>)
                        {
                            <tr>
                                <td>@time.StartTime.Hours : @time.StartTime.Minutes </td>
                                @foreach (var table in ViewBag.Tables as List<TableModel>)
                                {
                                    <td class="free">
                                        @Html.ActionLink("VOLNO", "PickedTime", "Reservation", new { table=table.Id, time=time.Id, sdate = selDate }, new { @class = "navbar-brand" })
                                  </td>
                                }
                            </tr>
                        }
                </tbody>
            </table>
        </div>
        }

@section scripts
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" ;></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#mydatepicker").datepicker();
        });
    </script>
}



