@using ReservationSystem.Utils
@model ReservationSystem.Reservation.ReservationView

@if (!Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>REZERVAČNÍ SYSTÉM</h1>
        <h2> AC SPARTA PRAHA stolní tenis</h2>
        <p class="lead">Pro rezervaci je nutné se přihlásit</p>
        <p>
            @Html.ActionLink("Přihlásit se", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" })
            @Html.ActionLink("Registrovat se", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary btn-lg" })

        </p>
     </div>
}
else
{
    if (Model.ReturnCode.ReturnLevel == ReturnCodeLevel.ERROR)
    {
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>SOMETHING WENT TERRIBLY WRONG.='(</strong> <a href="#" class="alert-link">@Model.ReturnCode.Message </a> @Model.ReturnCode.Reason
        </div>
    }

    if (Model.ReturnCode.ReturnLevel == ReturnCodeLevel.WARNING)
    {
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>@Model.ReturnCode.Message</strong>  <a href="#" class="alert-link">@Model.ReturnCode.Reason</a>.
        </div>
    }

    if (Model.ReturnCode.ReturnLevel == ReturnCodeLevel.SUCCESS)
    {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>@Model.ReturnCode.Message</strong>  <a href="#" class="alert-link">@Model.ReturnCode.Reason</a>.
        </div>
    }

    <div class="panel panel-default">
            <div class="panel-body">
                @using (Html.BeginForm("DateChange", "Home", new { @id = "mydatepickerform" }))
                {
                    <p align="center">
                        @Html.TextBox("date", "", new { @id = "mydatepicker", @class = "form-control input-lg", @style="text-align:center; font-weight:bold; font-size:30px"})
                    </p>
                }
            </div>
        

        <p align="center">
            @Html.ActionLink("Uložit", "Save", "Reservation", routeValues: new {sdate = Model.Date}, htmlAttributes: new {@id = "saveBtn", @class = "btn btn-primary btn-lg btn-block" })
        </p>

    </div>

         @Html.Partial("_ReservationTable", Model)
}


@section scripts
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#mydatepicker").datepicker(
                {
                    beforeShowDay: $.datepicker.noWeekends,
                    //altFormat: "DD d.mm",
                    //altField: "#mydatepicker",
                    dateFormat: "dd.mm.yy",
                    dayNamesShort: ["Ne, Po, Út, St, Čt, Pá, So"],
                    dayNames: ["Neděle", "Pondělí", "Úterý", "Středa", "Čtvrtek", "Pátek", "Sobota"],
                    monthNames: ["Leden", "Únor", "Březen", "Duben", "Květen", "Červen", "Červenec", "Srpen", "Září", "Říjen", "Listopad", "Prosinec"],
                    firstDay: 1,
                    minDate: 0,
                    onSelect: function(dateText, inst) {
                        $(this).parents("form").submit();
                    }
                }
            );

            var date = @Model.Date.Day.ToString() + "." + @Model.Date.Month.ToString() + "." + @Model.Date.Year.ToString();
            $("#mydatepicker").datepicker("setDate", date);

            var disable;
            if (@Model.IsPicked.ToString().ToLower() == true)
                disable = false;
            else
                disable = true;

            $("#saveBtn").attr("disabled", disable);
           
           

           
        });
    </script>
}



