@using ReservationSystem.Utils
@model ReservationSystem.Reservation.ReservationView

@if (!Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>REZERVAČNÍ SYSTÉM</h1>
        <h2> AC SPARTA PRAHA stolní tenis</h2>
        <p class="lead">Pro rezervaci je nutné se přihlásit</p>
        <p>
            @Html.ActionLink("Přihlásit se", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" })
            @Html.ActionLink("Registrovat se", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary btn-lg" })

        </p>
     </div>
}
else
{
    if (Model.ReturnCode == ReturnCode.ERROR)
    {
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>SOMETHING WENT TERRIBLY WRONG.='(</strong> <a href="#" class="alert-link">PROBABLY YOUR FAULT ;-)</a> @Model.ErrorMessage
        </div>
    }
    <input type="hidden" id="hdn" name="hdn" value=@Model.DateDiff>
    <div class="jumbotron">

        <p align="center">Datum: <input id="mydatepicker"/> </p>

        @if (Model.ReturnCode == ReturnCode.RESERVATION_SUCCESS)
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Rezervováno</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
            </div>
        }

        <p align="center">
            @Html.ActionLink("Ulozit", "Save", "Reservation", routeValues: new {sdate = @Model.DateDiff}, htmlAttributes: new {id = "registerLink", @class = "btn btn-primary btn-lg"})
        </p>
    </div>
       
         @Html.Partial("_ReservationTable", Model)
        }


@section scripts
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#mydatepicker").datepicker(
                {
                    beforeShowDay: $.datepicker.noWeekends,
                    altFormat: "DD d.MM",
                    altField: "#mydatepicker",
                    dayNames: ["Neděle", "Pondělí", "Úterý", "Středa", "Čtvrtek", "Pátek", "Sobota"],
                    monthNames: ["Leden", "Únor", "Březen", "Duben", "Květen", "Červen", "Červenec", "Srpen", "Září", "Říjen", "Listopad", "Prosinec"],
                    firstDay: 1,
                    minDate: 0,
                    onSelect: function (datetext, inst) {
                        var jsonDate = JSON.stringify({ date: datetext, other: "hovno" });
                        $.ajax({
                            url: "@Url.Action("DateChange", "Home")",
                            type: "POST",
                            data: jsonDate,
                            contentType: "application/json",
                            dataType: "json",
                            onSuccess: function (retUrl) {
                                console.log(retUrl);
                            }
                        });
                    }
                }
            );

            $("#mydatepicker").datepicker("setDate", @Model.DateDiff); 
        });
    </script>
}



