@using ReservationSystem.Utils;




@if (!Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>REZERVAČNÍ SYSTÉM</h1>
        <h2> AC SPARTA PRAHA stolní tenis</h2>
        <p class="lead">Pro rezervaci je nutné se přihlásit</p>
        <p>
            @Html.ActionLink("Přihlásit se", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" })
            @Html.ActionLink("Registrovat se", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary btn-lg" })

        </p>
     </div>
}
else
{
    if (ViewBag.ReturnCode == ReturnCode.ERROR)
    {
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>SOMETHING WENT TERRIBLY WRONG.='(</strong> <a href="#" class="alert-link">PROBABLY YOUR FAULT ;-)</a> @ViewBag.ErrorMessage
        </div>
    }
    <input type="hidden" id="hdn" name="hdn" value=@SelectedDays>
    <div class="jumbotron">

        @{
//            SelectedDays = ViewBag.Date;
        }

        <p align="center">Datum:  <input id="mydatepicker" /> </p>

        @if (ViewBag.ReturnCode == ReturnCode.RESERVATION_SUCCESS)
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Rezervováno</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
            </div>
        }

        <p align="center">
            @Html.ActionLink("Ulozit", "Save", "Reservation", routeValues: new {sdate = }, htmlAttributes: new {id = "registerLink", @class = "btn btn-primary btn-lg"})
        </p>
    </div>
       
         @Html.Partial("_ReservationTable")
        }



@functions {
    public object SelectedDays {
        get { return ViewBag.Date; } 
        set { ViewBag.Date = value; }
    }
}

@section scripts
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#mydatepicker").datepicker(
                {
                    beforeShowDay: $.datepicker.noWeekends,
                    dateFormat: "DD d.MM",
                    dayNames: [ "Neděle", "Pondělí", "Úterý", "Středa", "Čtvrtek", "Pátek", "Sobota"],
                    monthNames: [ "Leden", "Únor", "Březen", "Duben", "Květen", "Červen", "Červenec", "Srpen", "Září", "Říjen", "Listopad", "Prosinec" ],
                    firstDay: 1,
                    minDate: 0
                }
            );
            var selectedDate = Number(@SelectedDays);
            $("#mydatepicker").datepicker("setDate", selectedDate);
            $("#hdn").val($("#mydatepicker").datepicker("getDate"));

            var text = "@Html.ActionLink( "Datum", "Index", "Home", new { id = "JSVar" })";
            text = text.replace("JSVar", $("#hdn").val());

//            https://stackoverflow.com/questions/11287484/using-javascript-variable-in-mvc3-razor-view-engine
        });
    </script>
}



